<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>com.silverheart.server.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/good/greet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AttachedFileUploadServlet</servlet-name>
		<servlet-class>com.silverheart.server.servlets.AttachedFileUploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AttachedFileUploadServlet</servlet-name>
		<url-pattern>/good/upload</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetAttachedFileServlet</servlet-name>
		<servlet-class>com.silverheart.server.servlets.GetAttachedFileServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetAttachedFileServlet</servlet-name>
		<url-pattern>/good/download</url-pattern>
	</servlet-mapping>
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Good.html</welcome-file>
	</welcome-file-list>

</web-app>
